tests/test.yml
site
.vagrant
*.retry
*.log
inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs

# External roles
roles/geerlingguy.nfs/
roles/geerlingguy.docker/
roles/bertvv.samba/

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/
.vscode/